* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    background-color: #f3f3f3;
}

#root {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    background-color: white;
}

@media (min-width: 750px) {
    #root {
        margin: 20px auto;
        min-height: calc(100vh - 40px);
    }
}

.App {
    width: 100%;
}